<div class="container_full">

    <div class="master-slider ms-skin-default" id="masterslider">

        {% if banners is not null %}
            {% set i = 0 %}
            {% for banner in banners %}
                {% set i = i+1 %}
                <!-- slide -->
                <div class="ms-slide slide-{{ i }}" data-delay="8">
                    <img src="{{ vich_uploader_asset(banner, 'imageFile') }}" alt=""/>
                    <h1 class="ms-layer stext6"
                        style="left: 130px; top: 335px;"
                        data-type="text"
                        data-duration="900"
                        data-delay="1800"
                        data-ease="easeOutExpo"
                        data-effect="bottom(40)"
                    >
                        Tenha <strong><em>Controle Total</em></strong> Sobre sua Empresa{#<br>
                <strong>Nós Temos a <em>Solução</em></strong>#}
                    </h1>

                    <h4 class="ms-layer stext7"
                        style="left: 130px; top: 420px;"
                        data-type="text"
                        data-duration="900"
                        data-delay="2500"
                        data-ease="easeOutExpo"
                        data-effect="bottom(40)"
                    >
                        <strong>Sistema de Gestão Empresarial para quem não tem tempo a perder</strong>
                    </h4>

                    <div class="ms-layer"
                         style="left: 130px; top: 510px;"
                         data-type="text"
                         data-delay="3500"
                         data-ease="easeOutExpo"
                         data-duration="900"
                         data-effect="scale(1.5,1.6)"
                    >
                        <a href="{{ path('site_contato') }}" class="sbutton4">Experimente Agora</a>
                    </div>

                </div>
                <!-- end of slide -->
            {% endfor %}
        {% else %}
            <!-- slide -->
            <div class="ms-slide slide-1" data-delay="8">
                <img src="{{ asset('site/assets/images/sliders/master/slide-bg1.jpg') }}" alt=""/>
                <h1 class="ms-layer stext6"
                    style="left: 130px; top: 335px;"
                    data-type="text"
                    data-duration="900"
                    data-delay="1400"
                    data-ease="easeOutExpo"
                    data-effect="bottom(40)"
                >
                    Tenha <strong><em>Controle Total</em></strong> Sobre sua Empresa{#<br>
                <strong>Nós Temos a <em>Solução</em></strong>#}
                </h1>
                <h4 class="ms-layer stext7"
                    style="left: 130px; top: 420px;"
                    data-type="text"
                    data-duration="900"
                    data-delay="2100"
                    data-ease="easeOutExpo"
                    data-effect="bottom(40)"
                >
                    <strong>Sistema de Gestão Empresarial para quem não tem tempo a perder</strong>
                </h4>
                <div class="ms-layer"
                     style="left: 130px; top: 510px;"
                     data-type="text"
                     data-delay="3100"
                     data-ease="easeOutExpo"
                     data-duration="900"
                     data-effect="scale(1.5,1.6)"
                >
                    <a href="{{ path('site_contato') }}" class="sbutton4">Experimente Agora</a>
                </div>
            </div>
            <!-- end of slide -->
        {% endif %}

        <!-- slide -->
        {#<div class="ms-slide slide-3" data-delay="8">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x720" alt=""/>

            <img src="js/masterslider/blank.gif" data-src="http://placehold.it/630x576" alt=""
                 style="left:670px; top:70px;"
                 class="ms-layer"
                 data-type="image"
                 data-effect="right(300)"
                 data-ease="easeOutExpo"
                 data-duration="900"
                 data-delay="300"
            />

            <h3 class="ms-layer stext9"
                style="left: 925px; top: 327px;"
                data-type="text"
                data-duration="900"
                data-delay="900"
                data-ease="easeOutExpo"
                data-effect="scale(1.5,1.6)"
            >
                <i class="fa fa-paper-plane"></i> <br/> One Solution for <br/> <strong>All you Needs</strong>
            </h3>

            <h1 class="ms-layer stext6"
                style="left: 130px; top: 335px;"
                data-type="text"
                data-duration="900"
                data-delay="1800"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
            >
                Hello! This is Hoxa.<br/>
                <strong>Find the <em>Benefits</em> of Using</strong>
            </h1>

            <h4 class="ms-layer stext7"
                style="left: 130px; top: 470px;"
                data-type="text"
                data-duration="900"
                data-delay="2500"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
            >
                Creative. Clean Design. Let’s Start an Awesome Project.
            </h4>

            <div class="ms-layer"
                 style="left: 130px; top: 550px;"
                 data-type="text"
                 data-delay="3500"
                 data-ease="easeOutExpo"
                 data-duration="900"
                 data-effect="scale(1.5,1.6)"
            >
                <a href="#" class="sbutton4">Get Started Now!</a>
            </div>

        </div>#}
        <!-- end of slide -->
    </div>

</div>