<div class="clearfix"></div>

<div class="footer1">
    <div class="container">

        <br>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="200">
            <h4 class="lmb">Contato</h4>
            <ul class="faddress">
                {#<li><img src="{{ asset('site/assets/images/footer-logo.png') }}" alt=""/></li>#}
                <li>
                    <i class="fa fa-map-marker fa-lg"></i>&nbsp;
                    Av. Cel. Pedro Maia de Carvalho 425<br>&nbsp;&nbsp;&nbsp;&nbsp;
                    Sala 101/106 - Ed. Helena Pelisson <br>&nbsp;&nbsp;&nbsp;&nbsp;
                    Manente - Praia das Gaivotas<br>&nbsp;&nbsp;&nbsp;&nbsp;
                    Vila Velha ES - 29.102-570
                </li>
                <li><i class="fa fa-phone"></i>&nbsp; (027) 3349-9130</li>
                <li><i class="fa fa-whatsapp"></i>&nbsp; (027) 99824-9330</li>
                <li><a href="mailto:atendimento@rcinformatica.net.br"><i class="fa fa-envelope"></i>
                        atendimento@rcinformatica.net.br</a>
                </li>
                <li><img src="{{ asset('site/assets/images/footer-wmap.png') }}" alt=""/></li>
            </ul>
        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="300">
            <div class="qlinks">

                <h4 class="lmb">Links Úteis</h4>

                <ul>
                    <li>
                        <a target="_blank"
                           href="https://www.nfe.fazenda.gov.br/portal/consulta.aspx?tipoConsulta=completa&tipoConteudo=XbSeqxE8pl8=">
                            <i class="fa fa-angle-right"></i> Secretaria da Fazenda ES
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.sintegra.es.gov.br/">
                            <i class="fa fa-angle-right"></i> Consulta Sintegra
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/CPF/ConsultaPublica.asp">
                            <i class="fa fa-angle-right"></i> Consulta CPF
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://www.receita.fazenda.gov.br/PessoaJuridica/CNPJ/cnpjreva/Cnpjreva_Solicitacao.asp">
                            <i class="fa fa-angle-right"></i> Consulta CNPJ
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="400">

            <div class="siteinfo">

                <h4 class="lmb">Sobre</h4>

                <p>A RC Informática está há 18 anos no mercado lançando e aprimorando produtos que gerenciam e facilitam
                    a tomada de decisões em empresas que precisam de respostas eficientes.</p>
                <br/>
                <a href="{{ path('site_sobre') }}">Leia mais <i class="fa fa-long-arrow-right"></i></a>

            </div>

        </div>

        <div class="one_fourth last animate" data-anim-type="fadeInUp" data-anim-delay="500">
            <h4>Parceiros</h4>
            <div class="one_full">
                <div class="one_half">
                    <img src="{{ asset('site/assets/images/Logo_bematech_footer.jpg') }}"
                         style="border: 2px solid #ccc; width: 125px">
                </div>
                <div class="one_half last">
                    <img src="{{ asset('site/assets/images/Logo_Daruma_footer.jpg') }}"
                         style="border: 2px solid #ccc; width: 125px">
                </div>
            </div>
        </div>

    </div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info">
    <div class="container">

        <div class="clearfix divider_dashed10"></div>

        <div class="one_half animate" data-anim-type="fadeInRight">
            Copyright © {{ "now"|date('Y') }} RC Informática. Todos os direitos reservados.
        </div>

        <div class="one_half last">

            <ul class="footer_social_links">
                <li class="animate" data-anim-type="zoomIn">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>

        </div>

    </div>
</div><!-- end copyright info -->

<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->