<header id="header">
    <div id="topHeader">

        {#<div class="wrapper">
            <div class="logoarea">
                <div class="container">

                    <!-- Logo -->
                    <div class="logo"><a href="{{ path('site_homepage') }}" id="logo"></a></div>

                    <div class="right_links">

                        <ul>
                            <li class="link">
                                <a class="" href="#">
                                    <i class="fa fa-envelope"></i> atendimento1@rcinformatica.net.br
                                </a>
                            </li>
                            <li class="link">
                                <a class="" href="{{ path('site_portal') }}">
                                    <i class="fa fa-user"></i> Acesso do Cliente
                                </a>
                            </li>
                            {% if app.user %}
                                <li class="link">
                                    <a href="#">
                                        <i class="fa fa-user-o"></i> Bem vindo, {{ app.user.customer.name }}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="social"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>

                    </div><!-- end right links -->

                </div>
            </div>#}

        <div class="wrapper">

            <div class="top_nav">
                <div class="container">

                    <div class="right">

                        <ul>
                            <li class="link">
                                <a class="" href="#">
                                    <i class="fa fa-envelope"></i> atendimento1@rcinformatica.net.br
                                </a>
                            </li>
                            <li class="link">
                                <a class="" href="#">
                                    <i class="fa fa-phone"></i> 027 3349-9130
                                </a>
                            </li>
                            {% if app.user %}
                                <li class="link">
                                    <a href="{{ path('site_portal') }}">
                                        <i class="fa fa-user-o"></i> Bem vindo, {{ app.user.customer.name }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="link">
                                    <a class="" href="{{ path('site_portal') }}">
                                        <i class="fa fa-user"></i> Acesso do Cliente
                                    </a>
                                </li>
                            {% endif %}
                            <li class="social"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>

                    </div><!-- end right social links -->

                </div>
            </div>

        </div>
    </div><!-- end top navigation -->

    <div id="trueHeader">
        <div class="wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo"><a href="{{ path('site_homepage') }}" id="logo"></a></div>

                <!-- Menu -->
                <div class="menu_main">
                    <div class="navbar yamm navbar-default">

                        <div class="container">
                            <div class="navbar-header">
                                <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse"
                                     data-target="#navbar-collapse-1"><span>Menu</span>
                                    <button type="button"><i class="fa fa-bars"></i></button>
                                </div>
                            </div>

                            <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">

                                <ul class="nav navbar-nav">

                                    <li>
                                        <a href="{{ path('site_homepage') }}"
                                           class="{% if app.request.attributes.get('_route') == 'site_homepage' %}active{% endif %}">
                                            <i class="fa fa-home"></i> Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('site_sobre') }}"
                                           class="{% if app.request.attributes.get('_route') == 'site_sobre' %}active{% endif %}">
                                            <i class="fa fa-group"></i> Sobre
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('site_produtos') }}"
                                           class="{% if app.request.attributes.get('_route') == 'site_produtos' %}active{% endif %}">
                                            <i class="fa fa-handshake-o"></i> Produtos
                                        </a>
                                    </li>
                                    {#<li>
                                        <a href="{{ path('site_experimente') }}"
                                           class="{% if app.request.attributes.get('_route') == 'site_experimente' %}active{% endif %}">
                                            Experimente
                                        </a>
                                    </li>#}
                                    <li>
                                        <a href="{{ path('site_downloads') }}"
                                           class="{% if app.request.attributes.get('_route') == 'site_downloads' %}active{% endif %}">
                                            <i class="fa fa-download"></i> Downloads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('site_contato') }}"
                                           class="{% if app.request.attributes.get('_route') == 'site_contato' %}active{% endif %}">
                                            <i class="fa fa-phone"></i> Contato
                                        </a>
                                    </li>

                                </ul>

                                {#<div id="wrap">
                                    <form action="index.html" autocomplete="on">
                                        <input id="search" name="search" type="text" placeholder=""><input
                                                id="search_submit" value="search" type="submit">
                                    </form>
                                </div>#}

                            </div>
                        </div>
                    </div>
                </div><!-- end menu -->

            </div>
        </div>
    </div>
</header>


{#
<nav id="nav">
    <ul>
        {% if not app.user %}
            <li><a href="{{ path('site_login') }}">Área do Cliente</a></li>
        {% endif %}
        {% if app.user %}
            <li>
                <a href="#">{{ app.user.customer.name }}</a>
                <ul>
                    <li><a href="{{ path('site_change_password') }}">Alterar Senha</a></li>
                    <li><a href="{{ path('site_logout') }}">Logout</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>#}
