<nav id="nav">
    <ul>
        <li class="{% if app.request.attributes.get('_route') == 'site_homepage' %}active{% endif %}">
            <a href="{{ path('site_homepage') }}">Home</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'site_sobre' %}active{% endif %}">
            <a href="{{ path('site_sobre') }}">Sobre</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'site_produtos' %}active{% endif %}">
            <a href="{{ path('site_produtos') }}">Produtos</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'site_downloads' %}active{% endif %}">
            <a href="{{ path('site_downloads') }}">Downloads</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'site_experimente' %}active{% endif %}">
            <a href="{{ path('site_experimente') }}">Experimente</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'site_contato' %}active{% endif %}">
            <a href="{{ path('site_contato') }}">Contato</a>
        </li>
        {#{% if not app.user %}
            <li><a href="{{ path('site_login') }}">Área do Cliente</a></li>
        {% endif %}
        {% if app.user %}
            <li>
                <a href="#">{{ app.user.customer.name }}</a>
                <ul>
                    <li><a href="{{ path('site_change_password') }}">Alterar Senha</a></li>
                    <li><a href="{{ path('site_logout') }}">Logout</a></li>
                </ul>
            </li>
        {% endif %}#}
    </ul>
</nav>