{% extends 'site/base.html.twig' %}

{% block main_container %}

    {% include('site/_partials/_client_page_title.html.twig') %}

    <div class="clearfix"></div>

    <div class="container">
        <div class="content_fullwidth lessmar">
            <div class="login_form">

                {{ include('site/_partials/_flash_messages.html.twig') }}
                {{ form_errors(form) }}

                {{ form_start(form, { 'action': path('site_resetting_reset', {'token' : token}), 'attr': {
                    'class': 'sky-form',
                    'id': 'sky-form3'
                } }) }}

                <header>{{ 'user.resetting.reset.title'|trans }}</header>

                <fieldset>
                    <section>
                        {{ form_label(form.plainPassword.first, null, {
                            'label_attr': {'class': 'label'}
                        }) }}
                        <label class="input">
                            <i class="icon-append icon-lock"></i>
                            {{ form_widget(form.plainPassword.first) }}
                        </label>
                        {{ form_errors(form.plainPassword.first) }}
                    </section>
                    <section>
                        {{ form_label(form.plainPassword.second, null, {
                            'label_attr': {'class': 'label'}
                        }) }}
                        <label class="input">
                            <i class="icon-append icon-lock"></i>
                            {{ form_widget(form.plainPassword.second) }}
                        </label>
                        {{ form_errors(form.plainPassword.second) }}
                    </section>
                </fieldset>

                <footer>
                    <button type="submit" name="submit" class="button">
                        {{ 'user.resetting.reset.btns.send'|trans }}
                    </button>
                </footer>

                {{ form_widget(form._token) }}

                {{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </div>

    <div class="clearfix margin_top7"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('site/assets/js/_validation/login.js') }}"></script>

{% endblock %}