{% extends 'site/base.html.twig' %}

{% block main_container %}

    <div class="page_title2">
        <div class="container">
            <div class="title"><h1>Área do Cliente</h1><br></div>
        </div>
    </div><!-- end page title -->

    <div class="clearfix"></div>

    <div class="container">
        <div class="content_fullwidth lessmar">

            <div class="login_form">

                {{ include('site/_partials/_flash_messages.html.twig') }}
                {{ form_errors(form) }}

                {{ form_start(form, { 'action': path('site_resetting_request'), 'attr': {
                    'class': 'sky-form',
                    'id': 'sky-form2'
                } }) }}

                <header>{{ 'user.resetting.request.title'|trans }}</header>

                <fieldset>
                    <section>
                        {{ form_label(form.email, null, {
                            'label_attr': {'class': 'label'}
                        }) }}
                        <label class="input">
                            <i class="icon-append icon-user"></i>
                            {{ form_widget(form.email) }}
                        </label>
                    </section>
                </fieldset>

                <footer>
                    <button type="submit" name="submit" class="button">
                        {{ 'user.resetting.request.btns.send'|trans }}
                    </button>
                    <a href="{{ path('site_login') }}" class="button button-secondary"
                       style="margin-right: 0px;">Voltar</a>
                </footer>

                {{ form_widget(form._token) }}

                {{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </div>

    <div class="clearfix margin_top7"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('site/assets/js/_validation/login.js') }}"></script>

{% endblock %}