{% extends 'site/base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Master Slider -->
    <link rel="stylesheet" href="{{ asset('site/assets/js/masterslider/style/masterslider.css') }}"/>
    <link rel="stylesheet" href="{{ asset('site/assets/js/masterslider/skins/default/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('site/assets/js/masterslider/style.css') }}"/>

{% endblock %}

{% block main_container %}

    {% include(':site/_partials:_banner.html.twig') %}

    <div class="clearfix"></div>

    <div class="feature_section1">
        <div class="container">

            <h2>
                Conheça o Sistema <strong>PAF-RC</strong>
                <b>Trata-se de um produto 100% compatível com PAF-ECF, que auxilia sua empresa na gestão do
                    negócio como um todo.</b>
            </h2>

            <div class="margin_top3"></div>

            <div class="one_third active animate" data-anim-type="fadeIn" data-anim-delay="100">

                <div class="arrow_box"><i class="fa fa-laptop"></i></div>

                <h5 class="caps">Automação Comercial</h5>

                <p>Proporciona maior competividade, eficiência e otimização dos processos fiscais e de
                    gerenciamento, deixando a sua empresa mais eficiente e pronta para o mercado.</p>

            </div>

            <div class="one_third active animate" data-anim-type="fadeIn" data-anim-delay="200">

                <div class="arrow_box"><i class="fa fa-cog"></i></div>

                <h5 class="caps">Personalização</h5>

                <p>Interface amigável, aderente às necessidades da sua empresa. Treinamos os setores que
                    utilizarão o PAF-RC, e damos atendimento exclusivo para cada caso.</p>

            </div>

            <div class="one_third last active animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="arrow_box"><i class="fa fa-rocket"></i></div>

                <h5 class="caps">Mais Controle e Rapidez</h5>

                <p>Fornecemos informações gerenciais rápidas e confiáveis para auxiliar a gestão do seu negócio. </p>

            </div>

        </div>
    </div><!-- end fusection1 -->

    <div class="clearfix"></div>

    <div class="parallax_sec9">
        <div class="container">

            <h2 class="white">
                Alguns de nossos clientes
                <b></b>
            </h2>

            <div class="margin_top3"></div>

            <ul>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="100"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_alcar.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="200"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_auto_vila.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="300"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_bia_papelaria.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="400"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_elcmar.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="500"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_metalbraz.png') }}" alt=""/></li>
            </ul>
            <div class="clearfix margin_top1"></div>
            <ul>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="600"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_mini_divas.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="700"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_oticas_confianca.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="800"><img
                            src="{{ asset('site/assets/images/clientes_logos/logo_st.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="900"><img
                            src="{{ asset('site/assets/images/clientes_logos/logocopitec.png') }}" alt=""/></li>
                <li class="animate" data-anim-type="zoomIn" data-anim-delay="1000"><img
                            src="{{ asset('site/assets/images/clientes_logos/logomineirao.png') }}" alt=""/></li>
            </ul>

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="fusection9">
        <div class="container">

            <h1 class="animate fadeInDown" data-anim-type="fadeInDown" data-anim-delay="200">
                Adaptável para empresas de qualquer porte ou segmento
            </h1>
            <h4 class="animate fadeInDown" data-anim-type="fadeInDown" data-anim-delay="250">
                Solicite <strong>AGORA</strong> análise completa das necessidades em sua empresa. O orçamento é sem
                compromisso!
            </h4>
            <br>
            <a href="{{ path('site_contato') }}" class="readmore_but9 animate zoomIn" data-anim-type="zoomIn" data-anim-delay="750">
                <i class="fa fa-check"></i> <strong>ENTRE EM CONTATO</strong>
            </a> &nbsp;&nbsp;&nbsp;

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Master Slider -->
    <script src="{{ asset('site/assets/js/masterslider/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/masterslider/masterslider.min.js') }}"></script>
    <script type="text/javascript">
        (function ($) {
            "use strict";

            var slider = new MasterSlider();
            slider.setup('masterslider', {
                width: 1270,    // slider standard width
                height: 720,   // slider standard height
                space: 0,
                speed: 45,
                fullwidth: true,
                loop: true,
                preload: 0,
                autoplay: true,
                view: "basic"
            });
// adds Arrows navigation control to the slider.
            slider.control('arrows');
            slider.control('bullets');

        })(jQuery);
    </script>


{% endblock %}