{% extends 'site/base.html.twig' %}

{% block main_container %}
    <div class="page_title2">
        <div class="container">
            <div class="title"><h1>Sobre</h1><br></div>
        </div>
    </div><!-- end page title -->

    <div class="clearfix"></div>

    <div class="content_fullwidth lessmar">
        <div class="container">

            <img src="{{ asset('site/assets/images/imagem_sobre.jpg') }}" alt="" class="rimg">
            <br><br>
            <div class="alileft"><h3>Quem Somos</h3></div>
            <br>
            <p>A RC Informática é especializada em desenvolvimento de sistemas para empresas.</p>
            <br>
            <p>Atuando desde 1999 nesse mercado, a empresa adquiriu experiência suficiente para lançar e
                aprimorar produtos que facilitam as tomadas de decisão no dia a dia das empresas de diversos
                segmentos.</p>
            <br>
            <p>Com todos esses anos de expertise, desenvolveu o Sistema PAF-RC, produto 100% compatível
                com PAF-ECF (Programa Aplicativo Fiscal - Emissor de Cupom Fiscal), que auxilia empresas dos
                mais variados segmentos na gestão do negócio.</p>
            <br>
            <p>Utilizando as linguagens Xharbour, C++ e Xbdase, os sistemas da RC são soluções para
                automatizar processos, eliminando erros humanos e aumentando a produtividade das
                empresas.</p>
            <br>
            <p>A RC Informática possui uma carteira de mais de 600 clientes ativos, de segmentos e setores
                variados, e se mantém atenta às demandas do mercado e às mudanças na legislação,
                mantendo profissionais especializados e em acompanhamento full time para garantir
                atualizações rápidas.</p>
            <br>
            <p>Por isso a RC Informática está altamente preparada para oferecer a melhor solução para cada
                tipo de negócio, respeitando as regras e culturas de cada empresa.
            </p>

        </div>
    </div>

    <div class="clearfix margin_top5"></div>

    <div class="feature_section19">
        <div class="container">
            <h1>O que nossos clientes dizem</h1>
            <br/><br/>
            <div class="clearfix"></div>

            <div>
                <div class="slider nosidearrows">
                    <div class="flexslider carousel">
                        <ul class="slides">

                            <li>

                                <div class="one_half">
                                    <div class="pesbox">
                                        <h5>"Tudo bem prático, sem burocracia. O nível de conhecimento da equipe de
                                            atendimento é nota 10. Confio na qualidade da RC Informática."</h5>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong> Cliente: Rei das Bicicletas</strong>&nbsp;
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                                <div class="one_half last">
                                    <div class="pesbox">
                                        <h5>"Nota 1000. Tudo 100% integrado. Facilita a informação de forma rápida e
                                            segura."</h5>
                                        <br>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>Cliente: Ótica Provisão</strong> &nbsp;
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                            </li><!-- end section -->

                            <li>

                                <div class="one_half">
                                    <div class="pesbox">
                                        <h5>"O atendimento da RC é muito bom, os funcionários demonstram muito interesse
                                            em resolver rapidamente os problemas, e aparentam ter sido muito bem
                                            treinados."</h5>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>Cliente: STB</strong> &nbsp;
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                                <div class="one_half last">
                                    <div class="pesbox">
                                        <h5>"Nossa parceria começou há pouco tempo, mas já percebo a qualidade nos
                                            serviços da RC Informática. Excelente produto e atendimento perfeito."</h5>
                                        <br>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>Cliente: Webmidiaz</strong> &nbsp;
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                            </li><!-- end section -->

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="clearfix margin_top5"></div>

    <div class="clients">

        <div class="container">
            <ul id="mycarouselthree" class="jcarousel-skin-tango">
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_alcar.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_auto_vila.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_bia_papelaria.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_elcmar.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_metalbraz.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_mini_divas.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_oticas_confianca.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_st.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logocopitec.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logomineirao.png') }}" alt=""></li>
            </ul>
        </div>

    </div>

    <div class="clearfix margin_top5"></div>

{% endblock %}
