{% extends 'site/base.html.twig' %}

{% block main_container %}
    <div class="page_title2">
        <div class="container">
            <div class="title"><h1>Sobre</h1><br></div>
        </div>
    </div><!-- end page title -->

    <div class="clearfix"></div>

    <div class="content_fullwidth lessmar">
        <div class="container">

            <img src="{{ asset('site/assets/images/imagem_sobre.jpg') }}" alt="" class="rimg">
            <br><br>
            <div class="alileft"><h3>Quem Somos</h3></div>
            <br>
            <p>A RC Informática está há 18 anos no mercado lançando e aprimorando produtos que gerenciam e facilitam
                a
                tomada de decisões em empresas que precisam de respostas eficientes.
                Atenda as demandas do mercado e às mudanças na legislação, mantemos profissionais especializados e
                em
                acompanhamento full time para garantir atualizações à frente da concorrência, garantindo resposta
                rápida
                e resultados para que sua empresa se mantenha competitiva e você tenha muito mais tranquilidade.
            </p>

        </div>
    </div>

    <div class="clearfix margin_top5"></div>

    <div class="feature_section19">
        <div class="container">
            <h1>Nossos Clientes</h1>
            <br/><br/>
            <div class="clearfix"></div>

            <div>
                <div class="slider nosidearrows">
                    <div class="flexslider carousel">
                        <ul class="slides">

                            <li>

                                <div class="one_half">
                                    <div class="pesbox">
                                        <h5>Como está o atendimento da RC Informática?</h5>
                                        <p> - Bem prático, sem burocracia.</p>
                                        <br>
                                        <h5>Como você caracteriza o nível de conhecimento dos nossos funcionários?</h5>
                                        <p> - Nota 10</p>
                                        <br>
                                        <h5>Qual a sua necessidade em relação a informática hoje?</h5>
                                        <p> - A informática ela é muito necessária para mim, pois dependo dela para tudo
                                            que faço.</p>
                                        <br>
                                        <h5>Você indicaria nosso produtos a outros clientes?</h5>
                                        <p> - Sim, sem duvida, pois confio na qualidade da RC Informártica.</p>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong> Cliente: Rei das Bicicletas</strong>&nbsp;
                                        <i> - Adicionar o contato do cliente</i>
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                                <div class="one_half last">
                                    <div class="pesbox">
                                        <h5>Como está o atendimento da RC Informática?</h5>
                                        <p> - Nota 1000.</p>
                                        <br>
                                        <h5>Como você caracteriza o nível de conhecimento dos nossos funcionários?</h5>
                                        <p> - 100% integrados.</p>
                                        <br>
                                        <h5>Qual a sua necessidade em relação a informática hoje?</h5>
                                        <p> - Facilitar a informação de forma rápida e segura.</p>
                                        <br>
                                        <h5>Você indicaria nosso produtos a outros clientes?</h5>
                                        <p> - Com certeza.</p>
                                        <br>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>Cliente: Ótica Provisão</strong> &nbsp;
                                        <i> - Adicionar o contato do cliente</i>
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                            </li><!-- end section -->

                            <li>

                                <div class="one_half">
                                    <div class="pesbox">
                                        <h5>Como está o atendimento da RC Informática?</h5>
                                        <p> - O atendimento é muito bom, alguns funcionários demonstram muito interesse
                                            em resolver rapidamente os problemas.</p>
                                        <br>
                                        <h5>Como você caracteriza o nível de conhecimento dos nossos funcionários?</h5>
                                        <p> - Vários funcionários aparentam ter sido muito bem treinados.</p>
                                        <br>
                                        <h5>Qual a sua necessidade em relação a informática hoje?</h5>
                                        <p> - Hoje, precisamos, dentre os principais, controlar nossas entradas e saídas
                                            de mercadoria, precisamos dos relatórios financeiros, tais como os
                                            controles de receitas e controle das comissões dos vendedores.</p>
                                        <br>
                                        <h5>Você indicaria nosso produtos a outros clientes?</h5>
                                        <p> - Sim. Sistema indicado para empresas do nosso porte.</p>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>- Cliente STB</strong> &nbsp;
                                        <i> - Adicionar o contato do cliente</i>
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                                <div class="one_half last">
                                    <div class="pesbox">
                                        <h5>Como está o atendimento da RC Informática?</h5>
                                        <p> - xxxx</p>
                                        <br>
                                        <h5>Como você caracteriza o nível de conhecimento dos nossos funcionários?</h5>
                                        <p> - xxx</p>
                                        <br>
                                        <h5>Qual a sua necessidade em relação a informática hoje?</h5>
                                        <p> - xxx.</p>
                                        <br>
                                        <h5>Você indicaria nosso produtos a outros clientes?</h5>
                                        <p> - xxx</p>
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>- Cliente XXX</strong> &nbsp;
                                        <i> - Adicionar o contato do cliente</i>
                                        <img src="{{ asset('site/assets/images/client.png') }}" alt=""/>
                                    </div>
                                </div>

                            </li><!-- end section -->

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="clearfix margin_top5"></div>

    <div class="clients">

        <div class="container">
            <ul id="mycarouselthree" class="jcarousel-skin-tango">
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_alcar.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_auto_vila.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_bia_papelaria.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_elcmar.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_metalbraz.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_mini_divas.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_oticas_confianca.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logo_st.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logocopitec.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/clientes_logos/logomineirao.png') }}" alt=""></li>
            </ul>
        </div>

    </div>

    <div class="clearfix margin_top5"></div>

{% endblock %}
