{% extends 'site/base.html.twig' %}

{% block main_container %}
    <div class="page_title2">
        <div class="container">
            <div class="title"><h1>Sobre</h1><br></div>
        </div>
    </div><!-- end page title -->

    <div class="clearfix"></div>

    <div class="content_fullwidth lessmar">
        <div class="container">

            <img src="{{ asset('site/assets/images/site-img81.jpg') }}" alt="" class="rimg">
            <br><br>
            <div class="alileft"><h3>Quem Somos</h3></div>
            <br>
            <p>A RC Informática está há 18 anos no mercado lançando e aprimorando produtos que gerenciam e facilitam
                a
                tomada de decisões em empresas que precisam de respostas eficientes.
                Atenda as demandas do mercado e às mudanças na legislação, mantemos profissionais especializados e
                em
                acompanhamento full time para garantir atualizações à frente da concorrência, garantindo resposta
                rápida
                e resultados para que sua empresa se mantenha competitiva e você tenha muito mais tranquilidade.
            </p>

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="fusection5" style="background: none; padding: 45px 0px">
        <div class="container">

            <div class="one_half animate fadeInUp" data-anim-type="fadeInUp" data-anim-delay="200">

                <div class="alileft" align="left"><h3>O Que Fazemos</h3></div>
                <br>
                <p align="left">A RC Informática está há 18 anos no mercado lançando e aprimorando produtos que
                    gerenciam e facilitam
                    a
                    tomada de decisões em empresas que precisam de respostas eficientes.
                    Atenda as demandas do mercado e às mudanças na legislação, mantemos profissionais especializados e
                    em
                    acompanhamento full time para garantir atualizações à frente da concorrência, garantindo resposta
                    rápida
                    e resultados para que sua empresa se mantenha competitiva e você tenha muito mais tranquilidade.
                </p>

            </div>

            <div class="one_half last animate fadeInUp" data-anim-type="fadeInUp" data-anim-delay="350">

                <div class="alileft" align="left"><h3>Parceiros</h3></div>
                <br>
                <div class="one_half">
                    <img src="{{ asset('site/assets/images/Logo_bematech.jpg') }}" alt=""
                         style="border: 3px solid #f4f4f4; width: 80%" align="left">
                </div>

                <div class="one_half last">
                    <img src="{{ asset('site/assets/images/Logo_Daruma.jpg') }}" alt=""
                         style="border: 3px solid #f4f4f4; width: 80%;" align="left">
                </div>

            </div>

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="feature_section19">
        <div class="container">

            <h1>
                Nossos Clientes
                <b>Confira alguns testemunhos sobre nós</b>
            </h1>
            <br/><br/>
            <div class="clearfix"></div>

            <div>
                <div class="slider nosidearrows">
                    <div class="flexslider carousel">
                        <ul class="slides">

                            <li>

                                <div class="one_half">
                                    <div class="pesbox">
                                        There are many variations of passages of lorem Ipsum available but the majority
                                        suffered alteration in some form by injected as they humo aren rando smised you
                                        need to be long establishe reader as will be distracte Ipsum which look
                                        reasonable is always sheets containin sum passages more recently with desktop
                                        publishin software like.
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>- Marison Avasty</strong> &nbsp;<i>custmer</i>
                                        <img src="{{ asset('site/assets/images/people-img2.jpg') }}" alt=""/></div>
                                </div>

                                <div class="one_half last">
                                    <div class="pesbox">
                                        There are many variations of passages of lorem Ipsum available but the majority
                                        suffered alteration in some form by injected as they humo aren rando smised you
                                        need to be long establishe reader as will be distracte Ipsum which look
                                        reasonable is always sheets containin sum passages more recently with desktop
                                        publishin software like.
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>- Jacob Alexander</strong> &nbsp;<i>custmer</i>
                                        <img src="{{ asset('site/assets/images/people-img2.jpg') }}" alt=""/></div>
                                </div>

                            </li><!-- end section -->

                            <li>

                                <div class="one_half">
                                    <div class="pesbox">
                                        There are many variations of passages of lorem Ipsum available but the majority
                                        suffered alteration in some form by injected as they humo aren rando smised you
                                        need to be long establishe reader as will be distracte Ipsum which look
                                        reasonable is always sheets containin sum passages more recently with desktop
                                        publishin software like.
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>- Darlene Aja</strong> &nbsp;<i>custmer</i> <img
                                                src="{{ asset('site/assets/images/people-img2.jpg') }}" alt=""/></div>
                                </div>

                                <div class="one_half last">
                                    <div class="pesbox">
                                        There are many variations of passages of lorem Ipsum available but the majority
                                        suffered alteration in some form by injected as they humo aren rando smised you
                                        need to be long establishe reader as will be distracte Ipsum which look
                                        reasonable is always sheets containin sum passages more recently with desktop
                                        publishin software like.
                                    </div>
                                    <div class="pesimg"> &nbsp; <strong>- Glen Lincoln</strong> &nbsp;<i>custmer</i>
                                        <img src="{{ asset('site/assets/images/people-img2.jpg') }}" alt=""/></div>
                                </div>

                            </li><!-- end section -->

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="clearfix margin_top5"></div>

    <div class="clients">

        <div class="container">
            <ul id="mycarouselthree" class="jcarousel-skin-tango">
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
                <li><img src="{{ asset('site/assets/images/client-logo1.png') }}" alt=""></li>
            </ul>
        </div>

    </div>

    <div class="clearfix margin_top5"></div>

{% endblock %}
