{% extends 'site/portal/base.html.twig' %}

{% block content_right %}

    <div class="one_full">

        <h3>Downloads</h3>

        <div class="feature_section81">

            {% set i = 1 %}
            {% for download in downloads %}

            <div class="one_third {% if i == 3 %}last{% endif %} animate" data-anim-type="fadeIn">

                <h5>{{ download.description }}</h5>

                <img src="{{ asset('site/assets/images/downloads-item.jpg') }}" alt=""
                     style="cursor: pointer;" class="img_left1"
                     onclick="window.location='{{ path('site_portal_downloads_download', {id: download.id}) }}'"/>

                <p>{{ download.publishedAt|date('d/m/Y H:i') }}</p>

                <br/>

                <a href="{{ path('site_portal_downloads_download', {id: download.id}) }}" class="but_camera"
                   target="_blank">
                    <i class="fa fa-download"></i>&nbsp;Baixar
                </a>

            </div>

            {% if i == 3 %}
            {% set i = 0 %}
            {% if loop.index < downloads.currentPageOffsetEnd %}
        </div>
        <div class="clearfix"></div>
        <div class="feature_section81" style="padding: 10px 0px 28px 0px">
            {% endif %}
            {% endif %}

            {% set i=i+1 %}

            {% endfor %}

        </div><!-- end features section81 -->

        <div class="clearfix divider_dashed9"></div>

        <div class="pagination">
            <b>Exibindo {{ downloads.currentPageOffsetStart }} a {{ downloads.currentPageOffsetEnd }}
                de {{ downloads.nbResults }} registros</b>
            {{ pagerfanta(downloads, 'pagination_site',{
                routeName: 'site_portal_downloads',
                routeParams: app.request.query.all
            }) }}
        </div><!-- /# end pagination -->

    </div>

{% endblock %}


