{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block page_content %}

    {% include '_partials/_flash_messages.html.twig' %}

    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('admin_user_new') }}">
                <div class="visual">
                    <i class="icon-user"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="desc"><span class="fa fa-user"></span> Novo Usuário</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('admin_bill_new') }}">
                <div class="visual">
                    <i class="icon-wallet"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="desc"><span class="icon-wallet"></span> {{ 'admin.bill.new'|trans }}</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('admin_customer_new') }}">
                <div class="visual">
                    <i class="icon-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="desc"><span class="fa fa-globe"></span> {{ 'admin.customers.new'|trans }}</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('admin_downloads_new') }}">
                <div class="visual">
                    <i class="icon-link"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="desc"><span class="fa fa-link"></span> {{ 'admin.downloads.new'|trans }}</div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-sm-6">
            {% embed 'admin/_partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Faturas A Receber',
            caption_helper: '(Próximos 30 dias)',
            bills: toReceive,
            billsTotal: toReceiveTotal,
            bg: 'label-warning'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'admin.customers.title_single'|trans }}</th>
                        <th>{{ 'admin.bill.fields.dueDateAt'|trans }}</th>
                        <th>{{ 'admin.bill.fields.amount'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in toReceive %}
                        <tr>
                            <td class="highlight">
                                <div class="warning"></div>
                                <a href="javascript:;"> {{ bill.customer.name }} </a>
                            </td>
                            <td>{{ bill.dueDateAt|date }}</td>
                            <td>
                                <span class="label label-sm label-warning">
                                    {{ bill.amount|number_format }}
                                </span>
                            </td>
                            <td>
                                <a href="{{ path('admin_bill_edit', {id: bill.id}) }}"
                                   class="btn btn-outline btn-sm green">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-6 col-sm-6">
            {% embed 'admin/_partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Faturas Recebidas',
            caption_helper: '(30 dias atrás)',
            bills: received,
            billsTotal: receivedTotal,
            bg: 'bg-green-jungle'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'admin.customers.title_single'|trans }}</th>
                        <th>{{ 'admin.bill.fields.paymentDateAt'|trans }}</th>
                        <th>{{ 'admin.bill.fields.amountPaid'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in received %}
                        <tr>
                            <td class="highlight">
                                <div class="success" style="border-left: 2px solid #26C281!important"></div>
                                <a href="javascript:;"> {{ bill.customer.name }} </a>
                            </td>
                            <td>{{ bill.paymentDateAt|date }}</td>
                            <td>
                                <span class="label label-sm label-success bg-green-jungle">
                                    {{ bill.amountPaid|number_format }}
                                </span>
                            </td>
                            <td>
                                <a href="{{ path('admin_bill_edit', {id: bill.id}) }}"
                                   class="btn btn-outline btn-sm green">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-6 col-sm-6">
            {% embed 'admin/_partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Faturas Vencidas',
            caption_helper: '',
            bills: overdue,
            billsTotal: overdueTotal,
            bg: 'label-danger'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'admin.customers.title_single'|trans }}</th>
                        <th>{{ 'admin.bill.fields.dueDateAt'|trans }}</th>
                        <th>{{ 'admin.bill.fields.amount'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in overdue %}
                        <tr>
                            <td class="highlight">
                                <div class="danger"></div>
                                <a href="javascript:;"> {{ bill.customer.name }} </a>
                            </td>
                            <td>{{ bill.dueDateAt|date }}</td>
                            <td>
                                <span class="label label-sm label-danger">
                                    {{ bill.amount|number_format }}
                                </span>
                            </td>
                            <td>
                                <a href="{{ path('admin_bill_edit', {id: bill.id}) }}"
                                   class="btn btn-outline btn-sm green">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

    </div>

{% endblock %}