{% extends 'site/portal/base.html.twig' %}

{% block content_right %}

    <div class="one_full">

        <h3>{{ 'user.change_password.title'|trans }}</h3>

        {{ include('site/_partials/_flash_messages.html.twig') }}
        {{ form_errors(form) }}

        {{ form_start(form, { 'action': path('site_change_password'), 'attr': {
            'class': 'sky-form',
            'id': 'sky-form4'
        } }) }}

        <fieldset>
            <section>
                {{ form_label(form.current_password, null, {
                    'label_attr': {'class': 'label'}
                }) }}
                <label class="input">
                    <i class="icon-append icon-lock"></i>
                    {{ form_widget(form.current_password) }}
                </label>
                {{ form_errors(form.current_password) }}
            </section>
            <section>
                {{ form_label(form.plainPassword.first, null, {
                    'label_attr': {'class': 'label'}
                }) }}
                <label class="input">
                    <i class="icon-append icon-lock"></i>
                    {{ form_widget(form.plainPassword.first) }}
                </label>
                {{ form_errors(form.plainPassword.first) }}
            </section>
            <section>
                {{ form_label(form.plainPassword.second, null, {
                    'label_attr': {'class': 'label'}
                }) }}
                <label class="input">
                    <i class="icon-append icon-lock"></i>
                    {{ form_widget(form.plainPassword.second) }}
                </label>
                {{ form_errors(form.plainPassword.second) }}
            </section>
        </fieldset>

        <footer>
            <button type="submit" name="submit" class="button">
                {{ 'user.change_password.btns.submit'|trans }}
            </button>
        </footer>

        {{ form_widget(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    <div class="clearfix margin_top7"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('site/assets/js/_validation/login.js') }}"></script>

{% endblock %}