{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.resetting.request.title'|trans }}{% endblock %}

{% block stylesheets %}
    {% embed 'admin/_partials/_block_stylesheets.html.twig' %}
        {% block page_level_styles %}
            <link href="{{ asset('admin/assets/pages/css/login.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <body class=" login">

    <!-- BEGIN -->
    <div class="content">
        <!-- BEGIN FORM -->
        {{ form_start(form, { 'action': path('admin_resetting_request'), 'attr': {'class': 'forget-form'} }) }}

        <h3 class="font-green">{{ 'user.resetting.request.title'|trans }}</h3>
        <p>{{ 'user.resetting.request.instructions'|trans }}</p>

        {{ include('_partials/_flash_messages.html.twig') }}
        {{ form_errors(form) }}

        {{ form_row(form.email, {
            'label_attr': {'class' : 'control-label visible-ie8 visible-ie9'},
            'attr': {
                'class' : 'form-control placeholder-no-fix',
                'placeholder': form.email.vars.label
            }
        }) }}

        <div class="form-actions">
            <a href="{{ path('admin_login') }}" id="back-btn" class="btn green btn-outline">Voltar</a>
            <button type="submit" class="btn green uppercase pull-right">
                {{ 'user.resetting.request.btns.send'|trans }}
            </button>
        </div>

        {{ form_widget(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}
        <!-- END FORM -->
    </div>

    {% block footer %}
        {% embed 'admin/_partials/_footer.html.twig' with {'visible': 'footer_security'} %}{% endembed %}
    {% endblock %}

    </body>
{% endblock %}