{% extends 'site/portal/base.html.twig' %}

{% block content_right %}

    <div class="one_full">

        <h3>Treinamentos - {{ category }}</h3>

        <div class="feature_section81">

            {% set i = 1 %}
            {% for video in videos %}

            <div class="one_third {% if i == 3 %}last{% endif %}">

                <h6>{{ video.description }}</h6>
                <img src="{{ video.thumbYoutube('mqdefault') }}" alt="{{ video.description }}"
                     style="cursor: pointer; max-width: 268px" class="img_left1"
                     onclick="window.location='{{ path('site_portal_treinamentos_video', {id: video.id}) }}'"/>

                <p>{{ video.publishedAt|date('d/m/Y H:i') }}</p>

                <br/>

                <a href="{{ path('site_portal_treinamentos_video', {id: video.id}) }}" class="but_camera">
                    <i class="fa fa-video-camera"></i>&nbsp;Visualizar
                </a>

            </div>

            {% if i == 3 %}
            {% set i = 0 %}
            {% if loop.index < videos.currentPageOffsetEnd %}
        </div>
        <div class="clearfix"></div>
        <div class="feature_section81" style="padding: 10px 0px 28px 0px">
            {% endif %}
            {% endif %}

            {% set i=i+1 %}

            {% endfor %}

        </div><!-- end features section81 -->

        <div class="clearfix divider_dashed9"></div>

        <div class="pagination">
            <b>Exibindo {{ videos.currentPageOffsetStart }} a {{ videos.currentPageOffsetEnd }}
                de {{ videos.nbResults }} registros</b>
            {{ pagerfanta(videos, 'pagination_site',{
                routeName: 'site_portal_treinamentos',
                routeParams: app.request.query.all
            }) }}
        </div><!-- /# end pagination -->

    </div>

{% endblock %}


