<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{{ path('admin_dashboard') }}">
                {#<img src="{{ asset('admin/assets/layouts/layout2/img/logo-default.png') }}" alt="logo" class="logo-default"/>#}
                <h4 class="logo-default">RC INFO ADM</h4>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    {% if app.user %}
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
                               data-close-others="true">
                                {#<img alt="" class="img-circle" src="{{ asset('default/assets/layouts/layout3/img/avatar9.jpg') }}">#}
                                <span class="username username-hide-mobile">
                                    {{ app.user.fullName }}
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li><a href="{{ path('admin_user_edit', {id: app.user.id}) }}">
                                        <i class="icon-user"></i>Meus Dados</a>
                                </li>
                                <li><a href="{{ path('admin_change_password') }}">
                                        <i class="icon-key"></i>Alterar Senha</a>
                                </li>
                                <li>
                                    <a href="{{ logout_path() }}">
                                        <i class="icon-power"></i> Sair </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    {% endif %}
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->