{% extends 'admin/base.html.twig' %}

{% block page_content %}

    {% embed 'admin/_partials/_default_resource.html.twig' with {'route_index' : 'admin_user_index'} %}

        {% block form_start %}
            {{ form_start(form, {'action': path('admin_user_edit', {id : adminUser.id}) ~ pagination.buildQuery,
                'attr' : {'class' : '_form-horizontal'}}) }}
        {% endblock %}

        {% block icon_list %}
            <i class="icon-user font-green-sharp"></i>
        {% endblock %}

        {% block caption_subject %}
            <span class="caption-subject font-green-sharp bold uppercase">
                Editar Usuário
            </span>
        {% endblock %}

        {% block nav_tabs %}
            <li role="presentation" class="active">
                <a href="#geral" aria-controls="geral" role="tab" data-toggle="tab">Geral</a>
            </li>
        {% endblock %}

        {% block tab_pane %}
            <div role="tabpanel" class="tab-pane active" id="geral">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstName, {'attr': {'autofocus': true}}) }}
                    </div>
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                    <div class="col-md-6">{{ form_row(form.email) }}</div>
                    <div class="col-md-6">
                        {{ form_row(form.isEnabled, {'attr': {
                            'data-on-color': 'success',
                            'data-off-color': 'danger',
                            'data-on-text': 'resource.is_enabled'|trans,
                            'data-off-text': 'resource.is_not_enabled'|trans
                        }}) }}
                    </div>
                    {% if is_granted(constant('SUPER_ADMIN_ROLE', adminUser)) %}
                        <div class="col-md-6">
                            {{ form_widget(form.isSuperAdmin, {'attr': {
                                'data-on-color': 'success',
                                'data-off-color': 'danger',
                                'data-on-text': 'resource.is_enabled'|trans,
                                'data-off-text': 'resource.is_not_enabled'|trans
                            }}) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}