{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {% embed 'admin/_partials/_block_stylesheets.html.twig' %}

        {% block page_level_plugins %}
            <link rel="stylesheet"
                  href="{{ asset('bower_components/bootstrap-datetimepicker/css/datetimepicker.css') }}">
        {% endblock %}

    {% endembed %}
{% endblock %}


{% block page_content %}

    {% embed 'admin/_partials/_default_resource.html.twig' with {'route_index' : 'admin_customer_index'} %}

        {% block form_start %}
            {{ form_start(form, {'action': path('admin_customer_edit', {id : customer.id}) ~ pagination.buildQuery,
                'attr' : {'class' : '_form-horizontal', 'novalidate': true}}) }}
        {% endblock %}

        {% block icon_list %}
            <i class="icon-globe font-green-sharp"></i>
        {% endblock %}

        {% block caption_subject %}
            <span class="caption-subject font-green-sharp bold uppercase">
                {{ 'admin.customers.edit'|trans }}
            </span>
        {% endblock %}

        {% block nav_tabs %}
            <li role="presentation" class="active">
                <a href="#geral" aria-controls="geral" role="tab" data-toggle="tab">Geral</a>
            </li>
            <li role="presentation">
                <a href="#bill" aria-controls="bill" role="tab" data-toggle="tab">Cobrança</a>
            </li>
            <li role="presentation">
                <a href="#addresses" aria-controls="addresses" role="tab" data-toggle="tab">Endereço</a>
            </li>
            <li role="presentation">
                <a href="#cms" aria-controls="cms" role="tab" data-toggle="tab">Conteúdo Site</a>
            </li>
        {% endblock %}

        {% block tab_pane %}
            <div role="tabpanel" class="tab-pane active" id="geral">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.name, {'attr': {'autofocus': true}}) }}
                    </div>
                    <div class="col-md-6">{{ form_row(form.email) }}</div>
                    <div class="col-md-6">{{ form_row(form.cnpj) }}</div>
                    <div class="col-md-6">{{ form_row(form.phoneNumber) }}</div>
                    <div class="col-md-6">
                        {{ form_row(form.siteUser.isEnabled, {'attr': {
                            'data-on-color': 'success',
                            'data-off-color': 'danger',
                            'data-on-text': 'resource.is_enabled'|trans,
                            'data-off-text': 'resource.is_not_enabled'|trans
                        }}) }}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="bill">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.billPayDay) }}</div>
                    <div class="col-md-6">{{ form_row(form.billAmount) }}</div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="addresses">
                <div id="customerAddress"
                     data-prototype="{% include 'admin/customer/collection/_customerAddress.html.twig'
                     with {'item': form.customerAddresses, 'prototype': true} %}">
                    {% for customerAddress in form.customerAddresses %}
                        {% include 'admin/customer/collection/_customerAddress.html.twig'
                        with {'item' : customerAddress, 'collection': true } %}
                    {% endfor %}

                    <div id="panel_add_customerAddress">
                        <a href="#" class="btn btn-default col-xs-12" id="btn_add_customerAddress">
                            <span class="fa fa-plus"></span>
                            {{ 'admin.customerAddresses.new'|trans }}
                        </a>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cms">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.url) }}</div>
                    <div class="col-md-6">{{ form_row(form.imageFile) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.publishedAt) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.text)}}) }}</div>
                </div>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}

{% block javascripts %}
    {% embed 'admin/_partials/_block_javascripts.html.twig' %}
        {% block page_level_plugins %}
            <script src="{{ asset('admin/assets/global/plugins/moment.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"
                    type="text/javascript"></script>
            <script src="{{ asset('bower_components/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js') }}"></script>
        {% endblock %}
        {% block page_level_scripts %}
            <script src="{{ asset('bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js') }}"></script>
            <script src="{{ asset('admin/assets/global/scripts/customerAddressesCollection.js') }}"></script>
            <script src="{{ asset('admin/assets/pages/scripts/components-date-time-pickers.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}